<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Bestseller Products</h1>
            <p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which
                looks reasonable.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-xl-4" *ngFor="let prod of products">
                <div class="card product-card">
                    <img [src]="prod.productImageUrl" class="card-img-top product-image"
                        alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">{{prod.productShortName}}</h5>
                        <p class="product-category">{{prod.categoryName}}</p>
                        <p class="product-price">${{prod.productPrice}}</p>
                        <button class="btn add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
